@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margain:20px;
    border: 0px 0px 0px 10px;
    padding: 1px 1px 10px 1px;
}

#subtitle {
    background: black;
    color: white;
    margain: 10px;
    border: 10px,0px,0px,0px;
    padding:1px,1px,1px,1px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    margain:20px;
}

